{% extends "base.html" %}
{% load flatpages %}


{% block content %}

{% get_flatpages '/home/' as flatpages %}
{% if flatpages %}
<ul>
    {% for page in flatpages %}
        {{ page.content|safe }}
    {% endfor %}
</ul>
{% else %}
<section>
  <h1>{{ META_DESCRIPTION }}</h1>
</section>
{% endif %}
{% endblock content %}
