{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<footer class="it-footer">
  <div class="it-footer-main">
    <div class="container">
      <section>
        <div class="row clearfix">
          <div class="col-sm-12">
            <div class="it-brand-wrapper">
              <a href="#" class="">
                <svg class="icon">
                  <use xlink:href="/static/bootstrap-italia/svg/sprite.svg#it-code-circle"></use>
                </svg>
                <div class="it-brand-text">
                  <h2 class="no_toc">{{ APP_DOMAIN }}</h2>
                  <h3 class="no_toc d-none d-md-block">{{ META_DESCRIPTION }}</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 pb-2">
            <h4>
              <a href="#" title="Vai alla pagina: Home">{{ APP_DOMAIN }}</a>
            </h4>
            <div class="link-list-wrapper">
              <ul class="footer-list link-list clearfix">
                <li>
                  <a class="list-item" href="{% url 'home' %}" title="Home">Home</a>
                </li>
                <li>
                  <a class="list-item" href="{% url 'about' %}" title="About">About</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 pb-2">
            <h4>
              <a href="#" title="Vai alla pagina: Account">Account</a>
            </h4>
            <div class="link-list-wrapper">
              <ul class="footer-list link-list clearfix">
                {% if request.user.is_authenticated %}
                <li><a class="list-item" title="{% trans "User" %}" href="{% url 'users:detail' request.user.username  %}">{% trans "User" %}</a></li>
                <li><a class="list-item" title="{% trans "Profile" %}" href="{% url 'profile' %}">{% trans "Profile" %}</a></li>
                <li><a class="list-item" title="{% trans "E-mail" %}" href="{% url 'account_email' %}">{% trans "E-mail" %}</a></li>
                <li><a class="list-item" title="{% trans "Change password" %}" href="{% url 'account_change_password' %}">{% trans 'Change password' %}</a></li>
                <li><a class="list-item" title="{% trans "Sign Out" %}" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a></li>

                {% else %}
                <li><a class="list-item" title="{% trans "Sign Up" %}" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
                <li><a class="list-item" title="{% trans "Sign In" %}" href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
                {% endif %}
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6">
            <h4>
              <a href="#" title="{% trans "Project" %}">{% trans "Project" %}</a>
            </h4>
            <div class="link-list-wrapper">
              <ul class="footer-list link-list clearfix">
                <li>
                  <a class="list-item" href="https://bitbucket.org/pai/django-uploads/" target="_blank" title="Vai alla pagina: Source Code">Source Code</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <br/>

    </div>
  </div>
  <div class="it-footer-small-prints clearfix">
    <div class="container">
      <h3 class="sr-only">Sezione Link Utili</h3>
      <ul class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row">
        <li class="list-inline-item">
          <a href="{% url 'legal-notes' %}">{% trans "Legal notes" %}</a>
        </li>
        <li class="list-inline-item">
          <a href="{% url 'privacy-policy' %}">{% trans "Privacy policy" %}</a>
        </li>
        <li class="list-inline-item">
          <a href="{% url 'media-policy' %}">{% trans "Media policy" %}</a>
        </li>
        <li class="list-inline-item">
          <a href="{% url 'django.contrib.sitemaps.views.sitemap' %}">{% trans "Sitemap" %}</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
