{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

{% url 'home' as home_url %}

<header class="it-header-wrapper">
  <div class="it-header-slim-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="it-header-slim-wrapper-content">
            <a class="d-none d-lg-block navbar-brand" href="/">{{ APP_DOMAIN }}</a>
            <div class="nav-mobile">
              <nav>

              </nav>
            </div>

            <div class="it-header-slim-right-zone">
              <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                  <span>{{ LANGUAGE_CODE|upper }}</span>
                  <svg class="icon d-none d-lg-block">
                    <use xlink:href="/static/bootstrap-italia/svg/sprite.svg#it-expand"></use>
                  </svg>
                </a>
                <div class="dropdown-menu" style="">
                  <div class="row">
                    <div class="col-12">
                      <div class="link-list-wrapper">
                        <ul class="link-list">
                          {% for lang in LANGUAGES %}
                          <li>
                            <a class="list-item" href="{% url 'set_language_from_url' lang.0 %}"><span>{{ lang.1|upper }}</span></a>
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a class="btn btn-primary btn-icon btn-full"
                 {% if request.user.is_authenticated %}
                    href="{% url 'users:detail' request.user.username %}" title="User" aria-label="User"
                 {% else %}
                    href="{% url 'account_login' %}" title="{% trans 'Sign In' %}" aria-label="{% trans 'Sign In' %}"
                 {% endif %}
                >
                <span class="rounded-icon">
                  <svg class="icon icon-primary">
                    <use xlink:href="/static/bootstrap-italia/svg/sprite.svg#it-user"></use>
                  </svg>
                </span>
                {% if request.user.is_authenticated %}
                <span class="d-none d-lg-block">{{ request.user }}</span>
                {% else %}
                <span class="d-none d-lg-block">{% trans 'Sign In' %}</span>
                {% endif %}
              </a>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="it-nav-wrapper">
    <div class="it-header-center-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="it-header-center-content-wrapper">
              <div class="it-brand-wrapper">
                <a href="/">
                  <svg class="icon">
                    <use xlink:href="/static/bootstrap-italia/svg/sprite.svg#it-code-circle"></use>
                  </svg>
                  <div class="it-brand-text">
                    <h2 class="no_toc">{{ APP_DOMAIN }}</h2>
                    <h3 class="no_toc d-none d-md-block">{{ META_DESCRIPTION }}</h3>
                  </div>
                </a>
              </div>
              <div class="it-right-zone">
                <div class="it-socials d-none d-md-flex">
                  {% comment %}
                  <ul>
                    <li>
                      <a href="#" aria-label="Github" target="_blank">
                        <svg class="icon">
                          <use xlink:href="/static/bootstrap-italia/svg/sprite.svg#it-github"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                  {% endcomment %}
                </div>
                <div class="it-search-wrapper">
                  <span class="d-none d-md-block">Cerca</span>
                  <a class="search-link rounded-icon" aria-label="Cerca" href="#">
                    <svg class="icon">
                      <use xlink:href="/static/bootstrap-italia/svg/sprite.svg#it-search"></use>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="it-header-navbar-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!--start nav-->
            <nav class="navbar navbar-expand-lg has-megamenu">
              <button class="custom-navbar-toggler" type="button" aria-controls="nav02" aria-expanded="false" aria-label="Toggle navigation" data-target="#nav02">
                <svg class="icon">
                  <use xlink:href="/static/bootstrap-italia/svg/sprite.svg#it-burger"></use>
                </svg>
              </button>
              <div class="navbar-collapsable" id="nav02" style="display: none;">
                <div class="overlay" style="display: none;"></div>
                <div class="close-div sr-only">
                  <button class="btn close-menu" type="button"><span class="it-close"></span>close</button>
                </div>
                <div class="menu-wrapper">
                  <ul class="navbar-nav">

                    <li class="nav-item"><a class="nav-link {% if request.path == home_url %} active {% endif %}" href="{% url 'home' %}"><span>Home</span><span class="sr-only">current</span></a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == about_url %} active {% endif %}" href="{% url 'about' %}"><span>About</span></a></li>

                    {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown megamenu">
                      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                        <span>Account</span>
                        <svg class="icon icon-xs">
                          <use xlink:href="/static/bootstrap-italia/svg/sprite.svg#it-expand"></use>
                        </svg>
                      </a>
                      <div class="dropdown-menu">
                        <div class="row">
                          <div class="col-12 col-lg-3">
                            <div class="link-list-wrapper">
                              <ul class="link-list">
                                <li>
                                  <h3 class="no_toc">User</h3>
                                </li>
                                <li><a class="list-item" href="{% url 'users:detail' request.user.username  %}"><span>View User</span></a></li>
                                <li><a class="list-item" href="{% url 'users:update' %}"><span>Update User</span></a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-12 col-lg-3">
                            <div class="link-list-wrapper">
                              <ul class="link-list">
                                <li>
                                  <h3 class="no_toc">{% trans 'Profile' %}</h3>
                                </li>
                                <li><a class="list-item" href="{% url 'profile' %}"><span>{% trans 'View Profile' %}</span></a></li>
                                <li><a class="list-item" href="{% url 'profile.update' %}"><span>{% trans 'Update Profile' %}</span></a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-12 col-lg-3">
                            <div class="link-list-wrapper">
                              <ul class="link-list">
                                  <li>
                                    <h3 class="no_toc">{% trans 'Contacts' %}</h3>
                                  </li>
                                  <li><a class="list-item" href="{% url 'account_email' %}"><span>{% trans 'E-mail' %}</span></a></li>
                                  <li><a class="list-item" href="{% url 'account_change_password' %}"><span>{% trans 'Change password' %}</span></a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-12 col-lg-3">
                            <div class="link-list-wrapper">
                              <ul class="link-list">
                                  <li><a class="list-item " href="{% url 'account_logout' %}"><span class="text-danger">{% trans 'Sign Out' %}</span></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>


                    {% else %}

                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                        <span>Account</span>
                        <svg class="icon icon-xs">
                          <use xlink:href="/static/bootstrap-italia/svg/sprite.svg#it-expand"></use>
                        </svg>
                      </a>
                      <div class="dropdown-menu">
                        <div class="link-list-wrapper">
                          <ul class="link-list">
                            <li><a class="list-item" href="{% url 'account_signup' %}"><span>{% trans 'Sign Up' %}</span></a></li>
                            <li><a class="list-item" href="{% url 'account_login' %}"><span>{% trans 'Sign In' %}</span></a></li>
                          </ul>
                        </div>
                      </div>
                    </li>

                    {% endif %}


                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
