{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}

{% block inner %}
<h1>{% trans "Password Reset" %}</h1>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

<form class="password_reset mt-5 mb-2" method="POST" action="{% url 'account_reset_password' %}">
  {% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {{ form.non_field_errors }}
  </div>
  {% endif %}

  {% csrf_token %}
  <div class="form-row">{% with form.email as field %}{% include "account/partials/text_field.html" %}{% endwith %}</div>

  <div class="form-group row">
    <div class="col">
      <button class="primaryAction btn btn-primary btn-lg" type="submit">{% trans "Change Password" %}</button>
    </div>
  </div>
</form>

<p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
