{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block inner %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form class="mt-5 mb-2" method="POST" action="">
                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                  {{ form.non_field_errors }}
                </div>
                {% endif %}

                {% csrf_token %}
                  <div class="form-row">{% with form.password1 as field %}{% include "account/partials/password_field.html" %}{% endwith %}</div>
                  <div class="form-row">{% with form.password2 as field %}{% include "account/partials/password_field.html" %}{% endwith %}</div>

                  <div class="form-group row">
                    <div class="col">
                      <button class="primaryAction btn btn-primary btn-lg" type="submit">{% trans "Change Password" %}</button>
                    </div>
                </div>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %} <a href="{% url 'account_login' %}" alt="{% trans 'Sign In' %}">{% trans 'Sign In' %}</a>.</p>
        {% endif %}
    {% endif %}
{% endblock %}
