{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Set Password" %}{% endblock head_title %}

{% block inner %}
<h1>{% trans "Set Password" %}</h1>

<form class="mt-5 mb-2 password_set" method="POST" action="{% url 'account_set_password' %}">
    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {{ form.non_field_errors }}
    </div>
    {% endif %}

    {% csrf_token %}
    <div class="form-row">{% with form.password1 as field %}{% include "account/partials/password_field.html" %}{% endwith %}</div>
    <div class="form-row">{% with form.password2 as field %}{% include "account/partials/password_field.html" %}{% endwith %}</div>

    <div class="form-group row">
      <div class="col">
        <button class="primaryAction btn btn-primary btn-lg" type="submit">{% trans "Set Password" %}</button>
      </div>
    </div>
</form>
{% endblock %}
