{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}User: {{ user.username }}{% endblock head_title %}

{% block inner %}
{% if user.is_authenticated %}
<h1>{% trans 'Complete Profile' %}</h1>

<form class="mt-5 mb-2" method="post" action="{% url 'profile.complete' %}">
  {% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {{ form.non_field_errors }}
  </div>
  {% endif %}

  {% csrf_token %}
  {% comment %}<div class="form-row">
    {% with field=form.username %}{% include "account/partials/text_field.html" %}{% endwith %}
  </div>{% endcomment %}
  <div class="form-row">
    {% with field=form.first_name field_extra_classes='col-md-4' %}{% include "account/partials/text_field.html" %}{% endwith %}
    {% with field=form.last_name field_extra_classes='col-md-4' %}{% include "account/partials/text_field.html" %}{% endwith %}
    {% with field=form.birthdate field_extra_classes='col-md-4' field_value=form.birthdate.value|date:'Y-m-d'|default_if_none:'' %}{% include "account/partials/date_field.html" %}{% endwith %}
  </div>
  <div class="form-row">
    {% with field=form.address field_extra_classes='col-md-6' %}{% include "account/partials/text_field.html" %}{% endwith %}
    {% with field=form.country field_extra_classes='col-md-3' %}{% include "account/partials/country_selector_field.html" %}{% endwith %}
    {% with field=form.language field_extra_classes='col-md-3' %}{% include "account/partials/text_field.html" %}{% endwith %}
  </div>
  <div class="form-row">
    {% with field=form.ssn field_extra_classes='col-md-6' %}{% include "account/partials/text_field.html" %}{% endwith %}
    {% with field=form.phone field_extra_classes='col-md-6' %}{% include "account/partials/text_field.html" %}{% endwith %}
  </div>
  <div class="form-row">
    {% with field=form.alias %}{% include "account/partials/text_field.html" %}{% endwith %}
  </div>
  <div class="form-row">
    {% with field=form.description %}{% include "account/partials/textarea_field.html" %}{% endwith %}
  </div>

  <div class="form-check">
      <div class="form-group col">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">{% trans 'I want to update my profile' %}<span class="asteriskField">*</span></label>
      </div>
  </div>

  <div class="form-group row">
    <div class="col">
      <button class="primaryAction btn btn-primary btn-lg" type="submit">{% trans 'Update' %}</button>
    </div>
  </div>
</form>

{% else %}

<h1>
{% blocktrans %}You are not logged in.{% endblocktrans %}
</h1>

<div class="row">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <a class="btn btn-primary" href="{% url 'account_login' %}" role="button">
        {% trans "Login" %}
        </a>
    </div>

    <div class="col-sm-12">
        <a class="btn btn-primary" href="{% url 'account_signup' %}" role="button">
        {% trans "Register" %}
        </a>
    </div>
</div>
{% endif %}


{% endblock inner %}

{% block javascript %}
{{ block.super }}

{% include 'account/partials/mapbox_initscript.html' %}
{% endblock javascript %}
