{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{{ user.username }}{% endblock head_title %}

{% block inner %}

{% if user.is_authenticated %}
  <h1>{% trans 'Profile' %}</h1>

  <section class="my-5">
  {% if user.sso_app_profile.picture %}
      <img src="{{user.sso_app_profile.picture}}" alt="picture" />
  {% endif %}
  <h3><label>{% trans 'First name' %}:</label> {{ user.sso_app_profile.first_name|default_if_none:'' }}</h3>
  <h3><label>{% trans 'Last name' %}:</label> {{ user.sso_app_profile.last_name|default_if_none:'' }}</h3>
  <h3><label>{% trans 'Birthdate' %}:</label> {{ user.sso_app_profile.birthdate|default_if_none:'' }}</h3>
  <h3><label>{% trans 'Address' %}:</label> {{ user.sso_app_profile.address|default_if_none:'' }}</h3>
  <h3><label>{% trans 'Country' %}:</label> {{ user.sso_app_profile.country.name|default_if_none:'' }}</h3>
  <h3><label>{% trans 'Language' %}:</label> {{ user.sso_app_profile.language|default_if_none:''|upper }}</h3>
  <h3><label>{% trans 'SSN' %}:</label> {{ user.sso_app_profile.ssn|default_if_none:'' }}</h3>
  <h3><label>{% trans 'Phone' %}:</label> {{ user.sso_app_profile.phone|default_if_none:'' }}</h3>
  <h3><label>{% trans 'Alias' %}:</label> {{ user.sso_app_profile.alias|default_if_none:'' }}</h3>
  <h3><label>{% trans 'Description' %}:</label> {{ user.sso_app_profile.description|default_if_none:'' }}</h3>
  </section>

  <div class="form-group">
      <a href="{% url 'profile.update' %}" class="btn btn-primary btn-lg">{% trans "Update" %}</a>
  </div>

{% else %}

<h1>
{% blocktrans %}You are not logged in.{% endblocktrans %}
</h1>

<div class="row">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <a class="btn btn-primary" href="{% url 'account_login' %}" role="button">
        {% trans "Login" %}
        </a>
    </div>

    <div class="col-sm-12">
        <a class="btn btn-primary" href="{% url 'account_signup' %}" role="button">
        {% trans "Register" %}
        </a>
    </div>
</div>
{% endif %}

{% endblock inner %}
