{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block css %}
{{ block.super }}
{% endblock css %}

{% block inner %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>


<form class="signup mt-5 mb-2" method="POST" action=""> {% comment %} <!-- keep GET params --> {% url 'account_signup' %}">{% endcomment %}
    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {{ form.non_field_errors }}
    </div>
    {% endif %}

    {% csrf_token %}
    {% if 'username' in form.fields %}<div class="form-row">{% with form.username as field %}{% include "account/partials/text_field.html" %}{% endwith %}</div>{% endif %}
    {% if 'email' in form.fields %}<div class="form-row">{% with form.email as field %}{% include "account/partials/text_field.html" %}{% endwith %}</div>{% endif %}
    <div class="form-row">{% with form.password1 as field %}{% include "account/partials/password_field.html" %}{% endwith %}</div>
    <div class="form-row">{% with form.password2 as field %}{% include "account/partials/password_field.html" %}{% endwith %}</div>

    <input type="hidden" name="groups" value="" />

    {{ form.fingerprint }}

    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <div class="form-group row">
      <div class="col">
      <button class="primaryAction btn btn-primary btn-lg float-right" type="submit">{% trans "Sign Up" %}</button>
    </div>
  </div>
</form>
{% endblock %}

{% block javascript %}
{{ block.super }}
{% if DJANGO_SSO_APP_BACKEND_SIGNUP_MUST_FILL_PROFILE %}
{% include 'account/partials/mapbox_initscript.html' %}
{% endif %}
{% endblock javascript %}
