{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}File upload{% endblock %}

{% block content %}
<h1>{% trans 'Upload File' %}</h1>
<p>{% trans 'Choose file to be uploaded.' %}</p>

{% include 'uploads/partials/form.html' %}
{% endblock content %}
