{% load static i18n %}{% get_current_language as LANGUAGE_CODE %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{{ APP_DOMAIN }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}

    <!-- Your stuff: Third-party CSS libraries go here -->
    <!-- <link href="{% static 'bootstrap-italia/css/bootstrap-italia.min.css' %}" rel="stylesheet"> -->
    <link href="{% static 'bootstrap-italia/css/bootstrap-italia-custom.min.css' %}" rel="stylesheet">

    <!-- This file stores project-specific CSS -->

    <link href="{% static 'css/project.0.0.1.css' %}" rel="stylesheet">


    {% endblock %}

    {% block extrahead %}{% endblock extrahead %}

  </head>

  <body>
    {% block body %}

    {% include "partials/header-full.html" %}

    <main>
    <div class="container my-5">

      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
          {% endfor %}
      {% endif %}

      {% block content %}
      {% endblock content %}

    </div> <!-- /container -->
    </main>

    {% include "partials/footer-full.html" %}

    {% block modal %}{% endblock modal %}

    {% endblock body %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}

      <!-- Your stuff: Third-party javascript libraries go here -->
      <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>-->
      <script src="{% static 'js/jquery.3.5.1.min.js' %}"></script>
      <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js" crossorigin="anonymous"></script>-->
      <script src="{% static 'js/popper.1.16.1.min.js' %}"></script>
      <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" crossorigin="anonymous"></script>-->

      <script>window.__PUBLIC_PATH__ = "/static/bootstrap-italia/fonts"</script>
      <script src="{% static 'bootstrap-italia/js/bootstrap-italia.min.js' %}"></script>

      <!-- place project specific Javascript in this file -->
      <script src="{% static 'js/project.js' %}"></script>

    {% endblock javascript %}
    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
