.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

body {
  /*background-color: #001a33;*/
  background-color: #00332c;
}

main {
  background-color: #fff;
  overflow: hidden;

}

.form-group textarea {
  border-bottom: 1px solid #5c6f82;
  box-shadow: none !important;
}
